<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
</head>
<body>
    <h3>Bienvenidos al cielo!!</h3>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Código</th>
        </thead>
        <tbody>
        {%for estudiante in Estudiante%}
            <td>{{estudiante.nombre}}</td>
            <td>{{estudiante.codigo}}</td>
        {% endfor%}
        </tbody>

    </table>
    
    
</body>
</html>